<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampBuddy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script defer src="/javascripts/formValidation.js"></script>
    <link rel="stylesheet" href="/stylesheets/centerBoilerplate.css">
</head>

<body>
    <%- include('../partials/transNav')%>
    <%- include('../partials/centerFlash') %>
    <div class="container">
        <div class="row">
            <%-body%>
        </div>
    </div>
    <footer class="d-flex justify-content-center bg-transparent py-3 mt-auto">
        <p class="text-white footer-text my-auto mx-5">&copy; CampBuddy by Ivan Tan |
            <a href="#" title="Portfolio Website">Portfolio Website</a>
            <span> | </span>
            <a href="https://github.com/IvanTan02" title="Github Profile">GitHub</a>
            <span> | </span>
            <a href="https://www.linkedin.com/in/ivantan02/" title="LinkedIn Profile">LinkedIn</a>
        </p>
    </footer>
</body>

</html>