<% layout('layouts/centerBoilerplate') %>
<div class="container">
    <div class="row">
        <div class="main-content col-8 offset-2 text-center text-white">
            <h1 class="mb-3">Welcome to CampBuddy</h1>
            <p class="mb-3">Your ultimate campground reviewing website. Discover the best campgrounds with
                detailed reviews and ratings. Connect with fellow campers, share experiences, and find the perfect
                destination for your outdoor adventure. Happy camping!</p>
            <a class="btn btn-primary" href="/campgrounds">View Campgrounds</a>
        </div>
    </div>
</div>